body{
    background-color: green;
    font-size: larger;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    height: 100vh;
}